# Map

In [2]:
def doubleStuff(a_list):
    """ Return a new list in which contains doubles of the elements in a_list. """
    new_list = []
    for value in a_list:
        new_elem = 2 * value
        new_list.append(new_elem)
    return new_list

In [3]:
things = [2, 5, 9]
print(things)
things = doubleStuff(things)
print(things)

[2, 5, 9]
[4, 10, 18]

In [3]:
def triple(value):
    return 3*value

def tripleStuff(a_list):
    new_seq = map(triple, a_list)
    return list(new_seq)

In [9]:
things = [2, 5, 9]
things3 = tripleStuff(things)
print(things3)

[6, 15, 27]

In [6]:
things = map(int, input('enter num without space'))
things3 = tripleStuff(things)
print(things3)

enter num 123

[3, 6, 9]

In [ ]:
def quadrupleStuff(a_list):
    new_seq = map(lambda value: 4*value, a_list)
    return list(new_seq)

In [6]:
things4 = quadrupleStuff(things)
print(things4)

[8, 20, 36]

In [1]:
num = map(int, input("Enter number to add wihtout space"))
add = 0
for i in num:
    add += int(i)
print(add)

Enter number to add wihtout space 1123

7

# Practice Question

In [11]:
lst = [["hi", "bye"], "hello", "goodbye", [9, 2], 4]

def greeting_doubled(a_list):
    """ Return a new list in which contains doubles of the elements in a_list. """
    new_list = []
    for value in a_list:
        new_elem = 2 * value
        new_list.append(new_elem)
    return new_list

greeting_doubled(lst)

[['hi', 'bye', 'hi', 'bye'], 'hellohello', 'goodbyegoodbye', [9, 2, 9, 2], 8]

In [13]:
lst = [["hi", "bye"], "hello", "goodbye", [9, 2], 4]

def greeting_doubled(a_list):
    """ Return a new list in which contains doubles of the elements in a_list. """
    new_list = map(lambda wrd: 2*wrd, a_list)
    return list(new_list)

greeting_doubled(lst)

[['hi', 'bye', 'hi', 'bye'], 'hellohello', 'goodbyegoodbye', [9, 2, 9, 2], 8]

In [26]:
abbrevs = ["usa", "esp", "chn", "jpn", "mex", "can", "rus", "rsa", "jam"]

abbrevs_upper =list(map(lambda x: x.upper(),abbrevs))
" ".join(abbrevs_upper)

'USA ESP CHN JPN MEX CAN RUS RSA JAM'

# Filter

In [29]:
def keep_evens(nums):
    new_list = []
    for num in nums:
        if num % 2 == 0:
            new_list.append(num)
    return new_list

print(keep_evens([3, 4, 6, 7, 0, 1]))

[4, 6, 0]

Python offers a more compact and general way to do it, the **filter** function. filter takes two arguments, a function and a sequence.

In [31]:
def keep_even(nums):
    
    new_list = filter(lambda x: x%2==0, nums)
    return list(new_list)

print(keep_even([3, 4, 6, 7, 0, 1]))

[4, 6, 0]

In [46]:
lst_check = ['plums', 'watermelon', 'kiwi', 'strawberries', 'blueberries', 'peaches', 'apples', 'mangos', 'papaya']
#new_lst_check = " ".join(lst_check)

nw_lst=[]
for wrd in lst_check:
    if "w" in wrd:
        nw_lst.append(wrd)
        
print(nw_lst)

['watermelon', 'kiwi', 'strawberries']

In [42]:
lst_check = ['plums', 'watermelon', 'kiwi', 'strawberries', 'blueberries', 'peaches', 'apples', 'mangos', 'papaya']


def filter_testing(lst):
    
    new_list = filter(lambda x: 'w' in x, lst)
    return list(new_list)

filter_testing(lst_check)

['watermelon', 'kiwi', 'strawberries']

In [47]:
lst = ["witch", "halloween", "pumpkin", "cat", "candy", "wagon", "moon"]

lst2 = list(filter(lambda x: 'o' in x, lst))
lst2

['halloween', 'wagon', 'moon']

# chaining together filter and map:

In [50]:
things = [3, 4, 6, 7, 0, 1]

#chaining together filter and map:
# first, filter to keep only the even numbers
# double each of them
th=map(lambda x: x*2, filter(lambda y: y % 2 == 0, things))
print(list(th))

# equivalent version using list comprehension
print([x*2 for x in things if x % 2 == 0])

[8, 12, 0]
[8, 12, 0]

In [52]:
list(map(lambda x: x, filter(lambda y: y % 2==0,things)))

[4, 6, 0]

In [54]:
list(filter(lambda y: y % 2==0,things))

[4, 6, 0]

# List comprehension with if condition

In [56]:

L = [12, 34, 21, 4, 6, 9, 42]

lst2 = [num for num in L if num > 10]
print(lst2)

[12, 34, 21, 42]

In [66]:
lst2 = [(num>10) for num in L]
print(lst2)

[True, True, True, False, False, False, True]

## Extract all names in dictionary

In [55]:
tester = {'info': [{"name": "Lauren", 'class standing': 'Junior', 'major': "Information Science"},{'name': 'Ayo', 'class standing': "Bachelor's", 'major': 'Information Science'}, {'name': 'Kathryn', 'class standing': 'Senior', 'major': 'Sociology'}, {'name': 'Nick', 'class standing': 'Junior', 'major': 'Computer Science'}, {'name': 'Gladys', 'class standing': 'Sophomore', 'major': 'History'}, {'name': 'Adam', 'major': 'Violin Performance', 'class standing': 'Senior'}]}
tester['info']

[{'name': 'Lauren',
  'class standing': 'Junior',
  'major': 'Information Science'},
 {'name': 'Ayo',
  'class standing': "Bachelor's",
  'major': 'Information Science'},
 {'name': 'Kathryn', 'class standing': 'Senior', 'major': 'Sociology'},
 {'name': 'Nick', 'class standing': 'Junior', 'major': 'Computer Science'},
 {'name': 'Gladys', 'class standing': 'Sophomore', 'major': 'History'},
 {'name': 'Adam', 'major': 'Violin Performance', 'class standing': 'Senior'}]

In [56]:
for name in tester['info']:
    print(name['name'])

Lauren
Ayo
Kathryn
Nick
Gladys
Adam

In [57]:
compri = [name['name'] for name in tester['info']]
compri

['Lauren', 'Ayo', 'Kathryn', 'Nick', 'Gladys', 'Adam']

In [59]:
compri_big_name = [name['name'] for name in tester['info']
               if len(name['name']) > 4]
compri_big_name

['Lauren', 'Kathryn', 'Gladys']

# Assignment

Write code to assign to the variable map_testing all the elements in lst_check while adding the string “Fruit: ” to the beginning of each element using mapping.

In [24]:
lst_check = ['plums', 'watermelon', 
             'kiwi', 'strawberries',
             'blueberries', 'peaches', 
             'apples', 'mangos', 'papaya']

map_testing = map(lambda str: "Fruit: " + str, lst_check)
list(map_testing)

['Fruit: plums',
 'Fruit: watermelon',
 'Fruit: kiwi',
 'Fruit: strawberries',
 'Fruit: blueberries',
 'Fruit: peaches',
 'Fruit: apples',
 'Fruit: mangos',
 'Fruit: papaya']

Below, we have provided a list of strings called countries. Use filter to produce a list called b_countries that only contains the strings from countries that begin with B.

In [34]:
countries = ['Canada', 'Mexico', 'Brazil', 
             'Chile', 'Denmark', 'Botswana',
             'Spain', 'Britain', 'Portugal',
             'Russia', 'Thailand', 'Bangladesh',
             'Nigeria', 'Argentina', 'Belarus', 
             'Laos', 'Australia', 'Panama', 'Egypt',
             'Morocco', 'Switzerland', 'Belgium']

# b_countries = list(filter(lambda(x: x[0]=='B',countries)))
# b_countries

In [35]:
b_countries = list(filter(lambda x: 'B' in x, countries))
b_countries

['Brazil', 'Botswana', 'Britain', 'Bangladesh', 'Belarus', 'Belgium']

In [38]:
b_countries = list(filter(lambda x: x[0]=='B',countries))
b_countries

['Brazil', 'Botswana', 'Britain', 'Bangladesh', 'Belarus', 'Belgium']

Below, we have provided a list of tuples that contain the names of Game of Thrones characters. Using list comprehension, create a list of strings called first_names that contains only the first names of everyone in the original list.

In [42]:
people = [('Snow', 'Jon'), ('Lannister', 'Cersei'), ('Stark', 'Arya'), ('Stark', 'Robb'), ('Lannister', 'Jamie'), ('Targaryen', 'Daenerys'), ('Stark', 'Sansa'), ('Tyrell', 'Margaery'), ('Stark', 'Eddard'), ('Lannister', 'Tyrion'), ('Baratheon', 'Joffrey'), ('Bolton', 'Ramsey'), ('Baelish', 'Peter')]

first_names = [frst[1] for frst in people]
first_names

['Jon',
 'Cersei',
 'Arya',
 'Robb',
 'Jamie',
 'Daenerys',
 'Sansa',
 'Margaery',
 'Eddard',
 'Tyrion',
 'Joffrey',
 'Ramsey',
 'Peter']

Use list comprehension to create a list called lst2 that doubles each element in the list, lst.

In [44]:
lst = [["hi", "bye"], "hello", "goodbye", [9, 2], 4]

lst2 = [i*2 for i in lst]
lst2

[['hi', 'bye', 'hi', 'bye'], 'hellohello', 'goodbyegoodbye', [9, 2, 9, 2], 8]

Below, we have provided a list of tuples that contain students’ names and their final grades in PYTHON 101. Using list comprehension, create a new list passed that contains the names of students who passed the class (had a final grade of 70 or greater).

In [45]:
students = [('Tommy', 95), ('Linda', 63), ('Carl', 70), ('Bob', 100), ('Raymond', 50), ('Sue', 75)]

passed = [name[0] for name in students if name[1]>=70]
passed

['Tommy', 'Carl', 'Bob', 'Sue']

Write code using zip and filter so that these lists (l1 and l2) are combined into one big list and assigned to the variable opposites if they are both longer than 3 characters each.

In [52]:
l1 = ['left', 'up', 'front']
l2 = ['right', 'down', 'back']

l3 = zip(l1, l2)
#print(*l3)
opposites = list(filter(lambda s: len(s[0])>3 and len(s[1])>3, l3))
print(opposites)

[('left', 'right'), ('front', 'back')]

Below, we have provided a species list and a population list. Use zip to combine these lists into one list of tuples called pop_info. From this list, create a new list called endangered that contains the names of species whose populations are below 2500.

In [53]:
species = ['golden retriever', 'white tailed deer', 'black rhino', 'brown squirrel', 'field mouse', 'orangutan', 'sumatran elephant', 'rainbow trout', 'black bear', 'blue whale', 'water moccasin', 'giant panda', 'green turtle', 'blue jay', 'japanese beetle']

population = [10000, 90000, 1000, 2000000, 500000, 500, 1200, 8000, 12000, 2300, 7500, 100, 1800, 9500, 125000]

pop_info = list(zip(species, population))
endangered = [x1 for (x1, x2) in pop_info if x2<2500]
print(endangered)

['black rhino', 'orangutan', 'sumatran elephant', 'blue whale', 'giant panda', 'green turtle']