In [2]:
from datetime import timedelta, date

today = date.today()
print("Today's date:", today)

Today's date: 2020-06-26

### strf method

In [3]:
today.strftime("%d/%m/%y")

'26/06/20'

In [4]:
EndDate = date.today() + timedelta(days=32) # calculus 1
EndDate.strftime("%d/%m/%y")

'28/07/20'

In [9]:
(date(2020, 7, 26) + timedelta(days=27)).strftime("%d/%m/%y") # calculus 2

'22/08/20'

In [10]:
date(2020, 8, 22) + timedelta(days=34)  # calculus 3

datetime.date(2020, 9, 25)

In [11]:
date(2020, 9, 25) + timedelta(days=39)  # differential equation

datetime.date(2020, 11, 3)

In [13]:
(date(2020, 11, 3) + timedelta(days=36)).strftime("%d/%m/%y") # MIT Linear Algebra

'09/12/20'

28 video `Statistics`

In [5]:
(date.today() + timedelta(days=10)).strftime("%d/%m/%y")

'06/07/20'

In [7]:
(date(2020, 7, 4) + timedelta(days=15)).strftime("%d/%m/%y")

'19/07/20'

In [8]:
(date(2020, 7, 19) + timedelta(days=15)).strftime("%d/%m/%y")

'03/08/20'

In [32]:
(date(2020, 8, 3) + timedelta(days=15)).strftime("%d/%m/%y")

'18/08/20'

https://towardsdatascience.com/basic-time-series-manipulation-with-pandas-4432afee64ea

##  create a date range

In [15]:
import pandas as pd
from datetime import datetime
import numpy as np
date_rng = pd.date_range(start='1/1/2018', end='1/08/2018', freq='D')

In [16]:
date_rng

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08'],
              dtype='datetime64[ns]', freq='D')

In [28]:
import pandas as pd, numpy as np

df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0,100,size=(len(date_rng)))
df.head(15)

        date  data
0 2018-01-01    60
1 2018-01-02    38
2 2018-01-03    14
3 2018-01-04    84
4 2018-01-05    45
5 2018-01-06     6
6 2018-01-07    83
7 2018-01-08    94

## Convert the data frame index to a datetime index

In [29]:
df['datetime'] = pd.to_datetime(df['date'])
df = df.set_index('datetime')
df.drop(['date'], axis=1, inplace=True)
df.head()

            data
datetime
2018-01-01    60
2018-01-02    38
2018-01-03    14
2018-01-04    84
2018-01-05    45